* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  background-image: url("./assets/images/backgrounds/blue.svg");
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  font: inherit;
  cursor: pointer;
}

.Blur {
  filter: blur(5px);
}

.NotYet {
  background-color: #9ba0ab;
  pointer-events: none;
}

.Error {
  color: crimson;
}

.Grey {
  color: #838894;
}

.Red {
  color: crimson;
}

.Green {
  color: lawngreen;
}

.SettingsBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 10;
  width: 50%;
  position: absolute;
  top: 15%;
  background-color: #0b111a;
  color: white;
  border-radius: 0.5rem;
  border: 1px dotted white;
  user-select: none;
}

.SettingsBox > h1 {
  width: 90%;
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid #3e4759;
}

.SettingsBox > p {
  width: 50%;
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid #3e4759;
}

.SettingsBtns {
  border-top: 1px solid #3e4759;
  padding-top: 0.5rem;
  width: 90%;
  margin: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.SettingsBtn {
  border-radius: 0.2rem;
  font-size: 1rem;
  border: none;
  background-color: dodgerblue;
  width: 30%;
  cursor: pointer;
  margin: 0.5rem;
  padding: 1rem;
}

.SettingsBtn:hover {
  filter: brightness(130%);
}

.Update {
  background-color: dodgerblue;
}

.Cancel {
  background-color: crimson;
}

.Like {
  background-color: lawngreen;
}
