* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  background-image: url("./assets/images/backgrounds/blue.svg");
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  font: inherit;
  cursor: pointer;
}

.NotYet {
  background-color: #9ba0ab;
  pointer-events: none;
}

.Error {
  color: crimson;
}

.Grey {
  color: #838894;
}

.Red {
  color: crimson;
}

.Green {
  color: lawngreen;
}
