.AccountPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 70%;
  height: 80%;
}

.AccountGrid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  margin: 1rem;
  user-select: none;
}

.Profile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  background-color: #0b111a;
  color: white;
  border-radius: 0.5rem;
  border: 1px dotted rgb(193, 193, 193);
  text-align: center;
}

.Profile > h1 {
  width: 90%;
  padding-bottom: 0.5rem;
  margin: 0.5rem;
  border-bottom: 1px solid rgb(193, 193, 193);
}

.VerifyBtn {
  border-radius: 0.2rem;
  font-size: 1rem;
  border: none;
  background-color: dodgerblue;
  width: 95%;
  cursor: pointer;
  margin: 0.5rem;
  padding: 1rem;
}

.VerifyBtn:hover {
  background-color: rgb(97, 176, 255);
}

.Bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: #18335b;
  color: white;
  border-radius: 0.5rem;
  border: 1px dotted rgb(193, 193, 193);
}

.TopMaps {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 1rem;
  background-color: #103873;
  color: white;
  border-radius: 0.5rem;
  border: 1px dotted rgb(193, 193, 193);
}

.TopWW {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #132744;
  color: white;
  border-radius: 0.5rem;
  border: 1px dotted rgb(193, 193, 193);
}

.SocialMedia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #1e3963;
  color: white;
  border-radius: 0.5rem;
  border: 1px dotted rgb(193, 193, 193);
}

.EditProfilePic {
  position: absolute;
  width: 1.5rem;
  right: 7rem;
  top: 6rem;
  filter: invert();
}

.EditProfilePic:hover {
  cursor: pointer;
}

.EditPerks {
  position: absolute;
  width: 1rem;
  right: 5rem;
  top: 16.5rem;
  filter: invert();
}

.EditPerks:hover {
  cursor: pointer;
}

.ProfileBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 1rem;
  padding-bottom: 1.5rem;
  width: 80%;
  border-bottom: 1px solid rgb(193, 193, 193);
}

.ProfilePicture {
  width: 8rem;
}

.AccountPerks {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 60%;
}

.AccountPerks > img {
  width: 2.5rem;
}
