.AccountPage {
  display: grid;
  width: 70%;
  height: 80%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  margin: 1rem;
  user-select: none;
}

.Profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  background-color: #0b111a;
  color: white;
  border-radius: 0.5rem;
  border: 1px dotted rgb(193, 193, 193);
  text-align: center;
}

.VerifyBtn {
  border-radius: 0.2rem;
  font-size: 1rem;
  border: none;
  background-color: dodgerblue;
  width: 95%;
  cursor: pointer;
  margin: 0.5rem;
  padding: 1rem;
}

.VerifyBtn:hover {
  background-color: rgb(97, 176, 255);
}

.Bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: #18335b;
  color: white;
  border-radius: 0.5rem;
  border: 1px dotted rgb(193, 193, 193);
}

.TopMaps {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 1rem;
  background-color: #103873;
  color: white;
  border-radius: 0.5rem;
  border: 1px dotted rgb(193, 193, 193);
}

.TopWW {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #132744;
  color: white;
  border-radius: 0.5rem;
  border: 1px dotted rgb(193, 193, 193);
}

.SocialMedia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #1e3963;
  color: white;
  border-radius: 0.5rem;
  border: 1px dotted rgb(193, 193, 193);
}

.ProfilePicture {
  width: 8rem;
}

.PerkList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
  background-color: black;
  position: absolute;
}

.PerkList > li {
  margin: 1rem;
}
